/* Sidebar container */
.sidebar {
  height: 100vh;
  max-width: 220px;
  width: 17vw;
  position: relative;
  top: 0;
  left: 0;
  background-color: #1b1b1b;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  padding: 20px;
  color: #fff;
}

.sidebar_instance {
  display: flex;
  flex-direction: row;
  position: relative;
  align-items: center;
  justify-content: flex-start;
  max-height: 7vh;
  height: 42px;
  width: auto;
}

.sidebar_text {
  display: flex;
}

/* Profile section */
.profile-text {
  display: flex;
  flex-direction: column;
  margin-left: 5%;
}

.profile-img {
  width: 50px;
  height: 40px;
  border-radius: 50%;
  object-fit: cover;
  transition: width 0.3s ease, height 0.3s ease;
}

.profile-name {
  font-size: 15px;
  font-weight: bold;
  margin: 0;
}

.profile-email {
  font-size: 10px;
  color: #ccc;
  margin: 0;
}

.profile-details {
  display: flex;
  justify-content: space-between;
  flex-direction: row;
  align-items: center;
  width: 100%;
}

.profile-logout-button {
  rotate: 180deg;
  padding: 5px 5px;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 5px;
  border: none;
  height: 30px;
  width: 35px;
}

/* Navigation menu */
.nav_menu {
  flex-grow: 1;
}

.nav_list {
  list-style: none;
  padding: 0;
}

.nav_item {
  margin-left: 10px;
}

.nav_item a {
  text-decoration: none;
  color: #fff;
  font-size: 16px;
  transition: color 0.3s ease;
}

.nav_item a.active {
  color: #ff5722;
  /* Active link color */
}

.nav_item a:hover {
  color: #ff5722;
}

/* More Info */
.info_menu {
  display: flex;
}